django
djangorestframework
streamlit
PyMuPDF
channels
faiss-cpu
openai
pymysql
tiktoken
mysqlclient
requests
scikit-learn
pandas
langchain_community
langchain_openai
langchain
transformers
python-dotenv
django-cors-headers
djangorestframework-simplejwt
django-allauth
cryptography 
django-rest-framework-social-oauth2
